.BackGround {
  width: auto;
  height: auto;
  background-color: #fff;
  border: 1px solid #000;
}

.QueueBackGround {
  position: absolute;
  top: 180px;
  left: 45px;

  width: 1350px;
  height: 800px;
  background-color: #d9d9d9;
}
