.TFAQRModalBG {
  position: absolute;

  width: 1440px;
  height: 1024px;

  z-index: 998;
  background-color: #ffffff;
  opacity: 0.5;
  border: 1px solid red;
}

.TFAQRModal {
  position: absolute;
  left: 330px;
  top: 212px;

  width: 780px;
  height: 600px;

  z-index: 999;
  background: #d9d9d9;
}

.TFAQRCode {
  position: absolute;
  left: 290px;
  top: 50px;

  width: 200px;
  height: 200px;

  background: #ffffff;
}

.TFAAuthCodeForm label {
  visibility: hidden;
}

.TFAAuthCodeForm input {
  position: absolute;
  left: 120px;
  top: 310px;

  height: 80px;
  width: 540px;

  font-size: 50px;
  text-align: center;
}

.TFAAuthBtn {
  position: absolute;
  left: 120px;
  top: 410px;

  width: 540px;
  height: 100px;

  font-size: 50px;
  text-align: center;
}
