.ChatRoomUserListBG {
  position: absolute;
  right: 20px;
  bottom: 20px;

  width: 400px;
  height: 850px;

  background: #d9d9d9;
}

.ChatRoomNameTxt {
  position: absolute;
  left: 30px;
  top: 30px;

  width: 190px;
  height: 50px;

  /* font-family: "Inter"; */
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  display: flex;
  align-items: center;
}

.ChatRoomSettingBtn {
  position: absolute;
  right: 130px;
  top: 30px;

  width: 50px;
  height: 50px;

  background: url("../assets/setting.png");
}

.ChatRoomInviteBtn {
  position: absolute;
  right: 80px;
  top: 30px;

  width: 50px;
  height: 50px;

  background: url("../assets/plus.png");
}

.ChatRoomExitBtn {
  position: absolute;
  right: 30px;
  top: 30px;

  width: 50px;
  height: 50px;

  background: url("../assets/logout.png");
}

.ChatRoomUsers {
  position: absolute;
  left: 30px;
  top: 100px;

  width: 340px;
  height: 720px;

  overflow: scroll;
}
