.LoginModalsBG {
  position: absolute;
  left: 330px;
  top: 212px;

  width: 780px;
  height: 600px;

  background: #d9d9d9;
}

.LoginTxts {
  position: absolute;
  left: 120px;
  top: 130px;

  width: 540px;
  height: 60px;

  font-weight: 400;
  font-size: 50px;
  align-items: center;
  text-align: center;
}

.LoginBtns {
  position: absolute;
  left: 120px;
  bottom: 90px;

  width: 540px;
  height: 100px;

  background: #fff;

  font-weight: 400;
  font-size: 50px;
  line-height: 100px;
  align-items: center;
  text-align: center;
}

.LoginModalInput {
  position: absolute;
  left: 120px;
  top: 310px;

  width: 540px;
  height: 80px;

  outline: none;
  font-size: 50px;
  font-weight: 400;
  align-items: center;
  color: #000;
}
