.PasswordModalBG {
  position: absolute;

  width: 1440px;
  height: 1024px;

  z-index: 998;
  background-color: #ffffff;
  opacity: 0.5;
}

.PasswordModal {
  position: absolute;

  height: 220px;
  width: 460px;
  left: 490px;
  top: 432px;

  z-index: 999;
  background: #959595;
}

.PasswordForm label {
  position: absolute;

  height: 50px;
  width: 200px;
  left: 30px;
  top: 30px;

  font-size: 30px;
}

.PasswordForm input {
  position: absolute;

  height: 50px;
  width: 400px;
  left: 30px;
  top: 80px;

  font-size: 30px;
}

.Password {
  position: absolute;

  height: 50px;
  width: 180px;
  left: 30px;
  top: 150px;

  font-size: 30px;
  text-align: center;
}

.PasswordCancel {
  position: absolute;

  height: 50px;
  width: 180px;
  left: 250px;
  top: 150px;

  font-size: 30px;
  text-align: center;
}
