#pong {
  position: absolute;
  left: 100px;
  top: 100px;
}

.countDown {
  position: absolute;
  left: 615px;
  top: 340px;

  width: 120px;
  height: 120px;

  font-size: 120px;
  font-weight: 800;
  text-align: center;
  color: #fff;
}
