.TopBarBG {
  width: 100%;
  height: 120px;
  background-color: #d9d9d9;

  display: inline-block;
  align-content: space-between;
}

.TopBarBtn {
  display: inline-block;
  width: 260px;
  height: 120px;
  color: #fff;

  font-size: 50px;
  font-weight: 900;
  line-height: 120px;

  text-align: center;
  vertical-align: middle;

  /* border: 1px solid #ff0000; */
}

.TopBarLogo {
  width: 300px;
}

.TopBarBtnAlign {
  float: right;
}

a {
  text-decoration: none;
  color: #fff;
}
